/*******************/
/* GENERAL STYLING*/

/*7 / 8 /10 /12 /15 /18 /23 /28 /35 /42 /51 /62 /75 /93 */

/* #od1
*/
/*******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  color: #14283f;
  font-family: "montserrat", sans-serif;
  background-color: #fff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  /*background-color:red;*/
}
.grid {
  display: grid;
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-1-cols {
  grid-template-columns: 1fr;
}

.section-head {
  color: #63730b;
  font-size: 3.5rem;
  font-weight: 550;
  margin-bottom: 2.4rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
}

/*******************/
/* HEADER SECTION */
/*******************/

.header {
  background-color: #fff;
  padding: 2.4 0 4.8rem 0;
  /* background: linear-gradient(0deg, #292929 50%, #fff 50%); */
  /* background: linear-gradient(100deg, 50%, #fff 50%); */
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  color: #fff;
  padding: 6.2rem 4.8rem 0 4.8rem;
  margin-bottom: 4.8rem;
}

.logo {
  width: 8rem;
  border-radius: 50%;
  filter: grayscale(100%);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header--links {
  display: flex;
  align-items: center;
  gap: 5.2rem;
}
.links:last-child:link {
  background-color: #1f3441;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.links {
  list-style: none;
}

.nav-btn:link,
.nav-btn:visited {
  font-size: 1.8rem;
  font-weight: 600;
  /* letter-spacing: 1px; */
  /* color: #101010; */
  color: #63730b;
  /* text-transform: uppercase; */
}

.nav-btn:hover,
.nav-btn:active {
  /* color: #949494; */
  color: #a5bf13;
  color: #101010;
  font-weight: 600;
  /* letter-spacing: 1px; */
  border-bottom: 2px solid #63730b;
  transition: all 0.15s ease-in;
}

.nav-cta:link,
.nav-cta:visited {
  border: 2px solid #63730b;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #63730b;
  font-weight: 600;
  transition: all 0.15s ease-in;
}
.nav-cta:hover,
.nav-cta:active {
  color: #292929;
  color: #101010;
  border: 2px solid #101010;
  font-weight: 600;
  border-radius: 1rem;
}
/* .nav-bar:last-child {
  padding: 0 0;
} */

/*******************/
/* HERO SECTION */
/*******************/

.hero-section {
  max-width: 130rem;
  margin: 0 auto;
  padding: 4.8rem 0 9.6rem 0;
  color: #101010;
}
.hero {
  padding: 0 3.2rem;
  column-gap: 4.8rem;
  justify-content: center;
}

.hero-textbox {
  /* grid-column: 1/2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.author-name {
  font-size: 5.1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

.job-description {
  color: #bfbfbf;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2px;
}

.hero-btn {
  display: flex;
  gap: 2rem;
}

.hero-icons {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fa-brands {
  color: #63730b;
  font-size: 3.5rem;
}

.icons {
  color: #f0f0f0;
}

.hero-image-container {
  /* grid-column: 2/3; */
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 80%;
  /* filter: grayscale(100%);
  border-radius: 2rem;
*/
}

/*******************/
/*ABOUT SECTION*/
/*******************/

.about-section {
  padding: 9.6rem 0;
  color: #393a46;
}

.about-card {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50rem;
  gap: 4.8rem;
}

.author-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #63730b;
  border-radius: 1rem;
}

.author-img {
  grid-column: 1/2;
  width: 100%;
}

.about-textbox {
  grid-column: 2/-1;
  align-items: center;
  font-weight: 600;
  /* padding: 2.3rem; */
}

.about-content {
  color: #292929;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
  font-weight: 400;
}

.tab-titles {
  display: flex;
  gap: 2.3rem;
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.tabs {
  cursor: pointer;
  position: relative;
}

.tabs::after {
  content: "";
  width: 0;
  height: 3px;
  background: #63730b;
  position: absolute;
  bottom: -10px;
  left: 0px;
  transition: 0.5s;
}

.tabs.active-tab::after {
  width: 100%;
}

.tab-content {
  font-size: 1.5rem;
  font-weight: 450;
  display: none;
}

.tab-content ul li {
  list-style: none;
  margin: 1rem 0;
}

.tab-content ul li span {
  color: #73860d;
  font-size: 1.2rem;
}
.tab-content.active-cont {
  display: block;
}

.skill-set {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  gap: 2.5rem;
  padding: 0;
  margin-bottom: 3rem;
}

.skill {
  list-style: none;
}

/*******************/
/* SERVICES SECTION*/
/*******************/

.services {
  padding: 2.4rem 0;
}

.service-list {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3.1rem;
}

.service-icon {
  font-size: 2.3rem;
  margin-bottom: 1.8rem;
}
.height-60 {
  display: flex;
  align-items: center;
  height: 6rem;
}
.service-head {
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}

.service-box {
  border-radius: 0.8rem;
  background-color: #f0f0f0;
  padding: 2.4rem;
}

/*******************/
/* PROJECT SECTION*/
/*******************/

.projects {
  padding: 9.6rem 0;
}

.projects-section {
  column-gap: 4.8rem;
}

.projects h1 {
  grid-column: 1/-1;
}

.project--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 2.3rem;

  /* border: 2px solid#63730b; */
  background-color: #f0f0f0;
  border-radius: 0.8rem;
}

.project-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 20rem;
}

.project-img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  /* filter: grayscale(100%); */
}

.project-card-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.project-name {
  /* margin-bottom: 2rem; */
  font-size: 1.8rem;
  text-transform: uppercase;
}
.project-description {
  display: none;
  font-size: 1.5rem;
}
.project-card-text ul {
  /* margin-top: 2rem; */
  /* padding:; */
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.project-card-text ul li i {
  font-size: 2.1rem;
  color: #63730b;
}

.check-btn:link,
.check-btn:visited {
  color: #292929;
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid #292929;
  border-radius: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.15s ease-in;
}

.check-btn:hover,
.check-btn:active {
  color: #101010;
  border: 2px solid #101010;
}

/* section {
  border: 2px solid #63730b;
} */
/*******************/
/* FOOTER SECTION */

footer {
  background-color: #fff;
}
