/* GENERAL STYLING*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color:#393A46;
   font-family: "lato", sans-serif;
}

section {
  margin: 0 10px;
  padding: 60px;
  margin-bottom: 10px;
  background-color:#fff;
}
a:link,a:visited{
  background-color:#89cfef;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight:700;
  border-radius: 5%;
}
a:hover,a:active{
  background-color: #373E8D;
  
}


/* TYPOGRAPHY */



/* SECTIONS STYLING  */
  
/* CONTAINER */
.container {
  width: 1200px;
  background-color: lightgray;
  margin: 0 auto;
}
header{
  background-image: url(../images/back-4.jpg);
  background-size: cover;
  color:#393A46;
}


/* header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin:0 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.logo {
  font-family: Tagesschrift;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* NAV BAR */
.header--links {
  display: flex;
  /* justify-content:space-between */
  ;
  gap: 30px
}

.links {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}
.nav-link{
  background-color:#79baec;
  padding:10px 20px;
}

/* Hero section */
.hero-section {
  width:80%;
  padding: 60px 40px;
  background-color:#42445A00;
  
  /*display: grid;
  grid-template-columns: 1fr,1fr;*/

}

.go-sentence {
  font-size:44px;
  text-transform: uppercase;
  margin-top:40px;
  margin-bottom: 30px;
  line-height: 1.1;
  letter-spacing: -0.8px;
}
.btn{}

.hero-sec-btn{
  /*display: inline-block;*/
  background-color:#79baec;
  padding: 20px 40px;
  margin-right: 30px;
}
.intro{
  font-size:32px;
  font-weight: 600;
  margin-bottom:100px;
  line-height: 1.5;
  letter-spacing:0.2px;
}

/*ABOUT SECTION*/

.about-section{
  padding: 40px;
  /*background-color: #131e3a;*/
  color:#393A46;
  
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 60px 1fr;
  column-gap:30px;
  align-items: start;
  row-gap: 10px;
}
.section-head{
  font-size:32px;
  font-weight:700;
  text-transform: uppercase;
  
  grid-column: 1/-1;
  grid-row: 1/2;
}
.image-card{
  grid-column:1/-1;
  grid-row: 2/-1;
  display: flex;
  justify-content: space-between;
  gap:30px;
  align-items:center;
  
  border-radius:10px;
  padding:10px;
  box-shadow: 25px 25px 70px  rgba(0, 0, 0, 0.1)
}
.author-img{
  border-radius: 10px;
  width:40%;
 
}
.about-inner{
  align-items: center;
  font-weight:600;
  width:55%;
}
.bio{
  font-size:32px;
  line-height:1.5;
  letter-spacing: 1px;

margin-bottom: 30px;
}
.skill-set{
  font-size: 22px;
  font-weight:500;
  display: flex;
  gap:20px;
  padding:0;
  margin-bottom: 30px
  
}
.skill{
  list-style: none;
  
}
footer{
  background-color: #fff;
}


